{% load i18n %}
{% load irunner_users %}
{% load irunner_cauth %}

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand ir-navbar-brand" href="{% url 'home' %}">{{ system_short_name }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li><a href="{% if user.is_admin %}{% url 'courses:index' %}{% else %}{% url 'courses:my' %}{% endif %}">{% trans 'Courses' %}</a></li>
                {% endif %}
                {% if user.is_admin %}
                    <li><a href="{% url 'users:show_folder' root_folder %}">{% trans 'Users' %}</a></li>
                {% endif %}
                {% if user.is_problem_editor %}
                    <li><a href="{% url 'problems:show_folder' root_folder %}">{% trans 'Problems' %}</a></li>
                    <li><a href="{% url 'solutions:list' %}">{% trans 'Solutions' %}</a></li>
                {% endif %}
                {% if user.is_problem_editor or user.is_quiz_editor %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Administration' %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if user.is_problem_editor %}
                                <li><a href="{% url 'solutions:challenge_list' %}">{% trans 'Challenges' %}</a></li>
                                <li><a href="{% url 'solutions:rejudge_list' %}">{% trans 'Rejudges' %}</a></li>
                                <li><a href="{% url 'solutions:judgement_list' %}">{% trans 'Runs' %}</a></li>
                            {% endif %}
                            {% if user.is_staff %}
                                <li><a href="{% url 'api:queue' %}">{% trans 'Queue' %}</a></li>
                                <li><a href="{% url 'proglangs:index' %}">{% trans 'Compilers' %}</a></li>
                                <li><a href="{% url 'courses:criterion_index' %}">{% trans 'Criteria' %}</a></li>
                            {% endif %}

                            {% if user.is_admin %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'users:admingroups:list' %}">{% trans 'Administrator groups' %}</a></li>
                                <li><a href="{% url 'contests:index' %}">{% trans 'Contests' %}</a></li>
                            {% endif %}
                            {% if user.is_quiz_editor %}
                                <li><a href="{% url 'quizzes:empty' %}">{% trans 'Quizzes' %}</a></li>
                            {% endif %}
                            {% if user.is_staff %}
                                <li><a href="{% url 'news:list' %}">{% trans 'News' %}</a></li>
                                <li><a href="{% url 'events:manage:list' %}">{% trans 'Events' %}</a></li>
                                <li><a href="{% url 'feedback:list' %}">{% trans 'Feedback' %}</a></li>
                            {% endif %}
                            {% if user.is_admin %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'solutions:activity' %}">{% trans 'Activity' %}</a></li>
                                {% if user.is_staff %}
                                    <li><a href="{% url 'solutions:hall_of_fame' %}">{% trans 'Hall of fame' %}</a></li>
                                    <li><a href="{% url 'storage:index' %}">{% trans 'File storage' %}</a></li>
                                    <li><a href="{% url 'problems:tex_playground' %}">{% trans 'TeX editor' %}</a></li>
                                    <li><a href="{% url 'test_sending_emails' %}">{% trans 'Test sending emails' %}</a></li>
                                {% endif %}
                            {% endif %}
                            {% if user.is_problem_editor %}
                                <li><a href="{% url 'solutions:compare' %}">{% trans 'Comparison of solutions' %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% for name, url in external_links %}
                    <li><a href="{{ url }}" target="_blank">{{ name }}</a></li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> {% irunner_users_show user %}</a></li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> {% trans 'Logout' %}</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> {% trans 'Login' %}</a></li>
                {% endif %}
                <li>
                    <a title="{% now "DATE_FORMAT" %}">{% now "H:i:s" %}</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
