{% extends "base.html" %}

{% load i18n %}
{% load irunner_solutions %}
{% load irunner_storage %}

{% block title %}{% trans 'Judgement' %} {{ judgement.id }}{% endblock %}

{% block content %}
    <h2>
        {% irunner_solutions_judgementbox judgement %}
        {% trans 'Judgement' %} {{ judgement.id }}
        {% trans 'of solution' %} <a href="{% url 'solutions:main' judgement.solution_id %}">{{ judgement.solution_id }}</a>
    </h2>

    <dl class="dl-horizontal">
        {% if extra_info and extra_info.creation_time %}
            <dt>{% trans 'Created' %}</dt>
            <dd>{{ extra_info.creation_time }}</dd>
        {% endif %}

        {% if judgement.rejudge_id %}
            <dt>{% trans 'Rejudge' %}</dt>
            <dd><a href="{% url 'solutions:rejudge' judgement.rejudge_id %}">{{ judgement.rejudge_id }}</a></dd>
        {% endif %}

        <dt>{% trans 'State' %}</dt>
        <dd>{{ judgement.show_status }}</dd>

        <dt>{% trans 'Score' %}</dt>
        <dd>{{ judgement.score }}{% if judgement.max_score %} {% trans 'of' %} {{ judgement.max_score }}{% endif %}</dd>
    </dl>

    {% irunner_solutions_checkfailed extra_info %}

    {% if test_results %}
        <h3>{% trans 'Test results' %}</h3>
        {% irunner_solutions_testresults test_results solution_permissions 'solutions:judgement_testcaseresult' judgement.id %}

        {% if request.user.is_staff %}
        <p><a href="{% url 'solutions:show_judgement_storage' judgement.id %}">{% trans 'File storage' %}&hellip;</a></p>
        {% endif %}
    {% endif %}

    {% if logs %}
        <h3>{% trans 'Compilation log' %}</h3>
        {% for log in logs %}
            {% irunner_storage_show log %}
        {% endfor %}
    {% endif %}
{% endblock %}
